.navbar {
    position: fixed;

    top: 20px;
    left: 50%;

    transform: translateX(-50%);

    display: flex;
    align-items: center;
    justify-content: center;

    gap: 10px;

    width: max-content;
    max-width: calc(100vw - 20px);

    z-index: 9999;
}
.navbar-logo {
    width: 60px;
    height: 60px;

    flex-shrink: 0;

    border-radius: 20px;

    background: white;

    border: 1px solid #eeeeee;

    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;

    font-size: 18px;
    font-weight: 800;

    color: #111111;

    box-shadow:
        0 5px 20px rgba(0, 0, 0, 0.07);
}
.navbar-logo img {
    width: 100%;
    height: 100%;

    object-fit:cover;
    display: block;
}
.navbar-icons {
    display: flex;

    align-items: center;
    justify-content: center;

    gap: 3px;

    padding: 7px 9px;

    background: white;

    border: 1px solid #eeeeee;

    border-radius: 20px;

    box-shadow:
        0 5px 20px rgba(0, 0, 0, 0.07);
}

.navbar-icons a {
    width: 44px;
    height: 44px;

    flex-shrink: 0;

    display: flex;

    align-items: center;
    justify-content: center;

    border-radius: 13px;

    color: #555555;

    text-decoration: none;

    font-size: 21px;

    transition: 0.3s ease;
}


.navbar-icons a:hover {
    background: #f0f0ed;

    color: #111111;

    transform: translateY(-2px);
}

@media (max-width: 600px) {

    .navbar {
        top: 12px;

        left: 50%;

        transform: translateX(-50%);

        width: max-content;

        max-width: calc(100vw - 20px);

        gap: 7px;

        justify-content: center;
    }


    .navbar-logo {
        width: 48px;
        height: 48px;

        border-radius: 15px;

        font-size: 16px;
    }


    .navbar-icons {
        padding: 4px 5px;

        gap: 1px;

        border-radius: 15px;
    }


    .navbar-icons a {
        width: 36px;
        height: 36px;

        font-size: 18px;

        border-radius: 10px;
    }

}